div.main_container {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
}

div.links {
  width: fit-content;
  margin: 40px auto;
}

div.section {
  width: fit-content;
  margin: 60px auto;
}

div.titleContainer {
  margin: unset;
  padding: unset;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

div.titleContainer > :first-child {
  margin-top: unset;
}

p.emphasized {
  font-style: italic;
}

a.link {
  color: rgb(43, 98, 226);
  font-weight: bold;
  margin: 40px;
}

a.repoLink {
  background-color: var(--primary);
  border-radius: 0.25rem;
  color: var(--bg);
  font-weight: bold;
  padding: 0.5rem;
}

a.repoLink:hover {
  background-color: var(--secondary);
  color: var(--inverse);
  transition: 0.5s;
}

button:hover {
  background: none;
  transition: 0.5s;
  cursor: pointer;
}

/* Icons */

div#icons {
  display: flex;
  gap: 0.25rem;
  margin: 0rem 0rem 1rem 0rem;
  padding: unset;
}

img.icon {
  width: 1.5rem;
}

/* Images */

img.banner {
  margin: 4rem auto;
  border: 2px solid var(--text);
  border-radius: var(--radius-sm);
  width: 1000px;
  height: auto;
}

@media (width <= 600px) {
  div.titleContainer {
    display: inline-block;
  }
}