body {
  font-family: Noto Sans;
}

a {
  text-decoration: none;
}

a.title {
  color: blueviolet;
}

a.link {
  color: rgb(43, 98, 226);
  font-weight: bold;
  margin: 40px;
}

div.main_container {
  width: 900px;
  padding: 20px;
  margin: 0 auto;
}

div.links {
  width: fit-content;
  margin: 40px auto;
}

div.section {
  width: fit-content;
  margin: 60px auto;
}

img.screenshot {
  border: 2px solid black;
  border-radius: 10px;
  width: 900px;
  height: 450px;
}